.container {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 680px;
  height: auto;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.icon_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
